<h3>編輯 Coupon</h3>
<form action="/admin/coupons/:id?_method=PUT" method="POST">
  <div class="form-group">
    <label for="code">折扣碼代號</label>
    <input type="text" class="form-control" name="code" id="code" placeholder="Enter code" value="{{coupon.code}}">
  </div>

  <div id="type" style="display:none">{{type}}</div>
  <div class="form-group">
    <label for="description">折扣類型</label>
    <select class="custom-select" id="description" name="description">
      <option value="% off">打折</option>
      <option value="minus">滿額折價</option>
    </select>
  </div>

  <div class="form-group">
    <label for="limit">最低啟用條件</label>
    <input type="number" class="form-control" name="limit" id="limit" placeholder="請輸入大於0的整數"
      value="{{coupon.Discount.limit}}">
  </div>

  <div class="form-group">
    <label for="figure">折扣％或折扣金額</label>
    <input type="number" class="form-control" name="figure" id="figure" placeholder="請輸入大於0的整數"
      value="{{coupon.Discount.figure}}">
  </div>

  <button type="submit" class="btn btn-primary">修改</button>
</form>