<div class="row justify-content-between">
  <h2>所有訂單列表</h2>
  <form action="/admin/orders/search" method="GET">
    <div class="form-inline">
      <input type="search" class="form-control" id="search" name="q" placeholder="訂單" style="width: 100px">
      <button type="submit" class="btn btn-outline-primary">查詢</button>
    </div>
  </form>
</div>

<br />
<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users 使用者管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/admin/orders">Orders 訂單管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/products">Products 商品管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/categories">Categories 種類管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/coupons">Coupons 折扣券管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/contact/edit">Contact 編輯店家資訊</a>
  </li>
</ul>
<br />
<table class="table row mx-0 table-hover">
  <thead class="thead-dark w-100">
    <tr class="row mx-0">
      <th class="col-4" scope="col">訂單編號</th>
      <th class="col-2" scope="col">狀態</th>
      <th class="col-2" scope="col">訂購者</th>
      <th class="col-2" scope="col">總金額</th>
      <th class="col-2" scope="col">操作選項</th>
    </tr>
  </thead>
  <tbody class="w-100">
    {{#each orders}}
    <tr class="row mx-0">
      <th class="col-4" scope="row">{{this.sn}}</th>
      <td class="col-2">{{this.shipping_status}}</td>
      <td class="col-2">{{this.User.name}}</td>
      <td class="col-2">{{this.amount}}</td>
      <td class="col-2">
        <button type="submit" class="btn btn-outline-secondary">詳情</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>