<div class="row justify-content-between">
  <h2>所有商品列表</h2>
  <form action="/admin/products/search" method="GET">
    <div class="form-inline">
      <input type="search" class="form-control" id="search" name="q" placeholder="商品" style="width: 100px">
      <button type="submit" class="btn btn-outline-primary">查詢</button>
    </div>
  </form>
</div>

<br />
<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users 使用者管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/orders">Orders 訂單管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/admin/products">Products 商品管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/categories">Categories 種類管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/coupons">Coupons 折扣券管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/contact/edit">Contacts 編輯店家資訊</a>
  </li>
</ul>
<br />
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">商品名稱</th>
      <th scope="col">種類</th>
      <th scope="col">單價</th>
      <th scope="col">存量</th>
      <th scope="col">操作選項</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.Category.name}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>
        <button type="submit" class="btn btn-outline-secondary">詳情</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>