<div class="container">
  <h2>所有訂單</h2>
  <div class="row">
    <div class="input-group mb-3 col-md-4">
      {{!-- <div class="input-group-prepend">
        <label class="input-group-text" for="orderPeriod">訂單時間</label>
      </div>
      <select class="custom-select" id="orderPeriod" name="orderPeriod">
        <option value="0" selected>6個月內</option>
        <option value="1">1年內</option>
        <option value="2">全部</option>
      </select>
      <a href="/orders/:userId" class="ml-2"><button type="button" class="btn btn-primary">確認</button></a> --}}
    </div>
    <table class="table table-hover shopping-cart-wrap col-md-10">
      {{!-- <thead style="background-color: #013b4f; color: #bc955c"> --}}
      <thead style=" background-color: #013b4f; color: #bc955c">
        <tr>
          <th scope="col" style="width: 30%">訂單號碼</th>
          <th scope="col" style="width: 20%">訂單金額</th>
          <th scope="col" style="width: 30%">訂購日期</th>
          <th scope="col" style="width: 40%">#</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr>
          <td>
            {{this.sn}}
          </td>
          <td>
            {{this.amount}}
          </td>
          <td>
            {{momentOrders this.createdAt}}
          </td>
          <td>
            <a href="/orders/{{this.id}}"><button type="button" class="btn"
                style="background-color: #023B4F; color: white;">訂單內容</button></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>

</div>