<div class="container">
  <h2 style="color: #023B4F">外送資訊</h2>
  <hr style="border: 5px solid #023B4F; margin-bottom: 1px">
  <hr style="border: 1px solid #023B4F; margin: 5px 0px">
  <h4 class="p-0" style="color: #013b4f">運送方式</h4>
  <hr style="border: 1px solid #023B4F; margin: 5px 0px">
  <hr style="border: 5px solid #023B4F; margin-top: 1px">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="shipping" id="shipping1" value="外送">
    <label class="form-check-label" for="shipping1">外送</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="shipping" id="shipping2" value="自取">
    <label class="form-check-label" for="shipping1">自取</label>
  </div>
  <form action="/order/使用者id" method="POST" class="mb-3">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="form-group m-2">
            <label for="name">姓名</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
              placeholder="收件人姓名">
          </div>
          <div class="form-group m-2">
            <label for="phone">電話</label>
            <input type="text" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp"
              placeholder="收件人電話">
          </div>
          <div class="form-group m-2">
            <label for="address">地址</label>
            <input type="text" class="form-control" id="address" name="address" aria-describedby="addressHelp"
              placeholder="收件人地址">
          </div>

          {{!-- <button type="submit" class="btn m-2" style="background-color: #023B4F; color: white;"> 下一步
          </button> --}}
          {{!-- <a href="" class="m-2"><i class=" fas fa-plus-circle"></i> 新增外送地址</a> --}}
        </div>

      </div>
      <nav class="col-md-3 bg-light sidebar pt-3">
        <div class="sidebar-sticky">
          <div>
            <h4>Order Summary</h4>
            <div>訂購價格: 30 {{totalPrice}}</div>
            <div>折扣後價格: 20</div>
          </div>
          <hr>
          <div>
            運費: 0
          </div>
          <hr>
          <div>
            總價: 20
          </div>
        </div>
      </nav>
    </div>
    <div style="text-align:right" class="mt-2">
      <button type="submit" class="btn m-2" style="background-color: #023B4F; color: white;"> 下一步
      </button>
    </div>
    <input type="hidden" name="cartId" value="{{cart.id}}">
    <input type="hidden" name="amount" value="{{totalPrice}}">
    <input type="hidden" name="shipping_status" value="0">
    <input type="hidden" name="payment_status" value="0">
  </form>
</div>