<h2>願望清單</h2>
<form action="/cart" method="POST">
  <input type="text" name='productId' value="3">
  <input type="text" name="ice" value="一半冰">
  <input type="text" name="sugar" value="無糖">
  <button type="submit">submit</button>
</form>