#all {
  display: none;
}
.container{
  margin-bottom: 10px
}
/* thead {
  background-color: #013b4f;
  color: #bc955c
} */

button#delete {
  background-color: #023B4F; 
  color: white; 
  font-size: small
}
button#wish {
  background-color:red; 
  color: white; 
  font-size: small
}
button#unwish {
  background-color:#013b4f; 
  color: white; 
  font-size: small
}
button.btn {
  background-color: #013b4f; 
  color: white;
}

button.btn:hover {
color: #fff !important;
text-decoration: none;
}
a.no-decoration{
  color: #bc955c
}
a.no-decoration:hover{
  text-decoration: none;
}
.fas.fa-dollar-sign{
  width: 30px;
  text-align: center;
  color:#013b4f
}
.fas.fa-coffee{
  color:#013b4f
}
