nav .btn {
  background-color: #013b4f;
  color: #bc955c;
  border-color: #bc955c;
}
nav .btn:hover {
  background-color: #bc955c;
  color: #013b4f;
}

nav a,
nav span,
.navbar-dark .navbar-brand {
  color: #bc955c;
}

nav a:hover {
  color: white;
  text-decoration: none;
}
