body{
  background-color: #f8f9fa;
}

/*bootstrap 按鈕配色統一微調*/
.btn-outline-primary, .btn-primary{
  color:#87CEFF;
}

.btn-outline-secondary, .btn-secondary{
  color:#bc955c;
}

.btn-outline-danger, .btn-danger{
  color:#FF4500;
}

.btn-outline-success, .btn-success{
  color:#adff2f;
}

.btn-outline-info, .btn-info{
  color:#d4f5fa
}


.fa-stack[data-count]:after{
  position:absolute;
  right:-10%;
  top:-30%;
  content: attr(data-count);
  font-size:40%;
  padding:.4em;
  border-radius:999px;
  line-height:.75em;
  color: #bc955c;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: #013b4f;
  border-style:solid;
}

.cart {
	color: #bc955c;
}

.navLink a:hover{
  font-weight: bold;
}

/*RWD*/
@media screen and (min-width:992px) {
  #cartAll{
    display: flex;
    justify-content: flex-end;
    width:40%;
  }
}

@media screen and (min-width:1040px) {
  #cartAll{
    display: flex;
    justify-content: flex-end;
    width:45%;
  }
}